---
http_interactions:
- request:
    method: get
    uri: https://api.t.livecall.io/v2/calls/8020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token Xq2L18bIWBDvgpMRwt5w3Q==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"842019ce00504d9f4a92b62e46505dd6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8020","type":"calls","attributes":{"external_id":null,"phone_number":"+48
        678678678","kind":"callback","status":"initiated","outcome":"successful","user_status":null,"is_retried":false,"was_deferred":false,"scheduled_for":null,"created_at":"2021-01-29T12:17:02+01:00","attempted_at":"2021-01-29T13:18:02+01:00","answered_at":null,"started_at":"2021-01-29T13:20:02+01:00","ended_at":"2021-01-29T13:27:02+01:00","ending_reason":null,"ended_by":null,"has_error":false,"deduplications_count":null,"direction":null,"duration":420,"text_content":null,"comment":null,"visitor_reference":null,"has_recording":false,"source_type":null,"source_attributes":null},"relationships":{"account":{"links":{"related":"https://api.t.livecall.io/v2/accounts/543"},"data":{"type":"accounts","id":"543"}},"filter":{"links":{"related":"https://api.t.livecall.io/v2/filters/789"},"data":{"type":"filters","id":"789"}},"user":{"links":{"related":"https://api.t.livecall.io/v2/users/926"},"data":{"type":"users","id":"926"}},"lead":{"links":{"related":"https://api.t.livecall.io/v2/leads/1745"},"data":{"type":"leads","id":"1745"}},"custom_field_values":{"links":{"related":"https://api.t.livecall.io/v2/custom_field_values?filter[call_id]=8020"}},"legs":{"links":{"related":"https://api.t.livecall.io/v2/call_legs?filter[call_id]=8020"}},"events":{"links":{"related":"https://api.t.livecall.io/v2/call_events?filter[call_id]=8020"}}}},"meta":{}}'
  recorded_at: Thu, 11 Feb 2021 10:50:38 GMT
- request:
    method: get
    uri: https://api.t.livecall.io/v2/users/926
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token Xq2L18bIWBDvgpMRwt5w3Q==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d9a289c7097af0f887a0ba123a2bdb0c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"926","type":"users","attributes":{"email":"piotrek+activecampaign@livecall.io","role":"admin","name":"ActiveCampaign","phone_number":"+48
        123123123","voximplant_username":null,"call_provider":"voximplant","tone_dialing_sequence":null,"recipient_kind":"regular","skips_announcement_in_inbound_calls":true,"call_timeout":20,"queue_timeout":null,"created_at":"2021-01-29T13:39:02+01:00","confirmed_at":"2021-01-29T13:40:13+01:00","is_agency":false,"status":"active","callback_notification_method":"email","callback_notification_kinds":["successful","failed"],"notification_email":null,"should_be_called_from_visitor_phone_number":false,"notifies_visitor":false,"visitor_notification":null,"can_see_private_information":true,"unavailable_from":null,"unavailable_to":null,"locale":"en","display_name_value":null},"relationships":{"account":{"links":{"related":"https://api.t.livecall.io/v2/accounts/543"},"data":{"type":"accounts","id":"543"}},"agency":{"links":{"related":null},"data":null},"department":{"links":{"related":null},"data":null},"verified_number":{"links":{"related":null},"data":null},"filters":{"links":{"related":"https://api.t.livecall.io/v2/filters?filter[user_id]=926"}},"availability_ranges":{"links":{"related":"https://api.t.livecall.io/v2/availability_ranges?filter[user_id]=926"}},"leads":{"links":{"related":"https://api.t.livecall.io/v2/leads?filter[user_id]=926"}}}},"meta":{}}'
  recorded_at: Thu, 11 Feb 2021 10:50:39 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=100&hapikey=8072f27f-f2f4-4310-8a87-cdf3d1f35799&offset=0&q=%2B48%20678678678
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BDF90B956BAA494047F4C820114D7342FDBF8C7FA000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499963'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"query":"+48 678678678","offset":1,"has-more":false,"total":1,"contacts":[{"vid":651,"canonical-vid":651,"merged-vids":[],"portal-id":9343945,"is-contact":true,"profile-token":"AO_T-mNEwa2oFOA9eZFSxnu8r_nJNdKoH5GB97Duc0LMFJTUuFVJZzMkVLsYHTxSOGkOr6Kv1N5BlVmGF2dRz-MEynq6VKOjnwXlUtGEBisuJxPWg8C4Kw9Rzo5tI2kLkE-okf-uO1zy","profile-url":"https://app.hubspot.com/contacts/9343945/contact/651","properties":{"hs_is_unworked":{"value":"true"},"firstname":{"value":"ActiveCampaign"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"createdate":{"value":"1612525732918"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_calculated_phone_number_country_code":{"value":"PL"},"hs_analytics_num_visits":{"value":"0"},"hs_social_linkedin_clicks":{"value":"0"},"hs_analytics_source":{"value":"OFFLINE"},"num_contacted_notes":{"value":"14"},"hs_searchable_calculated_phone_number":{"value":"678678678"},"hs_analytics_num_page_views":{"value":"0"},"hs_email_domain":{"value":"livecall.io"},"hs_calculated_phone_number":{"value":"+48678678678"},"email":{"value":"piotrek+activecampaign@livecall.io"},"notes_last_updated":{"value":"1613040528821"},"hs_analytics_first_timestamp":{"value":"1612525732918"},"lastmodifieddate":{"value":"1613040529542"},"hs_social_google_plus_clicks":{"value":"0"},"hs_lifecyclestage_subscriber_date":{"value":"1612525732918"},"hs_analytics_average_page_views":{"value":"0"},"hs_all_contact_vids":{"value":"651"},"hs_social_facebook_clicks":{"value":"0"},"hs_predictivecontactscore_v2":{"value":"3.11"},"notes_last_contacted":{"value":"1613040528821"},"phone":{"value":"+48
        678678678"},"hs_is_contact":{"value":"true"},"num_conversion_events":{"value":"0"},"hs_object_id":{"value":"651"},"hs_analytics_num_event_completions":{"value":"0"},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"API"},"lifecyclestage":{"value":"subscriber"},"num_notes":{"value":"14"}},"form-submissions":[],"identity-profiles":[{"vid":651,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"piotrek+activecampaign@livecall.io","timestamp":1612525732918,"is-primary":true},{"type":"LEAD_GUID","value":"01079bf4-1e33-452c-97d5-516a8e93d16a","timestamp":1612525732947}]}],"merge-audits":[]}]}'
  recorded_at: Thu, 11 Feb 2021 10:50:39 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=8072f27f-f2f4-4310-8a87-cdf3d1f35799
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL","active":true},"associations":{"contactIds":[651]},"metadata":{"toNumber":"+48
        678678678","fromNumber":"+48 123123123","status":"COMPLETED","durationMilliseconds":420,"body":"Phone
        number: +48 678678678, Kind: Callback, Time: 2021-01-29T13:20:02+01:00, Duration:
        420"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BF8ECC352853EB24A5C9E56573F6C0C992A76BD7F000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499962'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":11042607981,"portalId":9343945,"active":true,"createdAt":1613040639844,"lastUpdated":1613040639844,"type":"CALL","timestamp":1613040639844,"allAccessibleTeamIds":[],"bodyPreview":"Phone
        number: +48 678678678, Kind: Callback, Time: 2021-01-29T13:20:02+01:00, Duration:
        420","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n Phone number: +48 678678678, Kind: Callback, Time:
        2021-01-29T13:20:02+01:00, Duration: 420\n </body>\n</html>","gdprDeleted":false},"associations":{"contactIds":[651],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"toNumber":"+48
        678678678","fromNumber":"+48 123123123","status":"COMPLETED","durationMilliseconds":420,"body":"Phone
        number: +48 678678678, Kind: Callback, Time: 2021-01-29T13:20:02+01:00, Duration:
        420"}}'
  recorded_at: Thu, 11 Feb 2021 10:50:40 GMT
recorded_with: VCR 6.0.0
